* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	height:100%;
	width:100%;
	text-align:center;
	font-family: 'Trebuchet MS', sans-serif;
	background-color:#26547C;
}

body {
	display:flex;
}

form {
	margin:auto;
	width:30%;
	height:20%;
	border:1px solid #FFD166;
	border-radius:10px;
	padding:20px;
	background-color:#E21243;
}

button {
	display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
	margin-right:20px;
	border:none;
}

img{
	height: 50px;
}

h1{
	margin-bottom:5%;
	font-size:160%;
	
}

button:hover{
	box-shadow: 1px 5px 10px 1px black;
}



